# change it
# datasets exported using https://github.com/ideaconsult/quarkus-vega-cli/tree/main/vega-wrapper-app --export-dataset option
# or manually using VEGA GUI
VEGA_TRAINING_SETS: "VEGA_TRAINING_SETS\\datasets"
# full predictions using the exported datasets
VEGA_RESULT_FILES: "VEGA_TRAINING_SETS\\results"
# output - used as input for MAPIE pipeline
VEGA_QUBOUNDS_INPUT: "qubounds_input"