vega_regr:
  - BCF_MEYLAN
  - LOGP_MEYLAN  
  - MELTING_POINT
  - MELTING_POINT_KNN
  - WS_IRFMN  
  - ALGAE_COMBASEEC50
  - ALGAE_EC50
  - ALGAE_NOEC
  - BCF_ARNOTGOBAS
  - BCF_CAESAR
  - BCF_KNN
  - CARCINOGENICTY_FEMALE
  - CARCINOGENICTY_MALE
  - CARC_SFI_REGR
  - CARC_SFO_REGR
  - DAPHNIA_COMBASE
  - DAPHNIA_DEMETRA
  - DAPHNIA_EC50
  - DAPHNIA_EPA
  - DAPHNIA_NOEC
  - EW_TOXICITY
  - FATHEAD_EPA
  - FATHEAD_KNN
  - FISH_COMBASE
  - FISH_KNN
  - FISH_LC50
  - FISH_NIC
  - FISH_NOEC
  - GUPPY_KNN
  - HENRY_OPERA
  - HYDROLYSIS_CORAL
  - KM_ARNOT
  - KOA_OPERA
  - KOC_OPERA
  - LD50_KNN
  - LOAEL_CONCERT_CORAL
  - LOEL_LIVER_CORAL
  - PPB_LOGK
  - LOGP_ALOGP
  - LOGP_MLOGP
  - NOAEL_CORAL
  - NOAEL_CONCERT_CORAL
  - NOAEL_LIVER_CORAL
  - PERS_AIR_CORAL
  - PPB_CORAL
  - PERS_SED_QUANT
  - SLUDGE_COMBASEEC50
  - PERS_SOIL_QUANT
  - TISSUEBLOOD_INERIS
  - TOTALHL_QSARINS
  - VAPOUR_PRESSURE
  - PERS_WATER_QUANT
  - ZEBRAFISH_CORAL  
 
vega_class:
  - ALGAE_COMBASECLASS
  - AROM_IRMFN
  - AROM_TOX21
  - BEE_KNN
  - CARC_ANTARES
  - CARC_ISS
  - CARC_CAESAR
  - CARC_ISSCAN-CGX
  - CARC_SFI_CLASS
  - CARC_SFO_CLASS
  - CHROM_CORAL
  - DEVTOX_CAESAR
  - DEVTOX_PG
  - ESTROGEN_CERAPP
  - EYE IRRITATION
  - EYE_IRRITATION_KNN
  - EYE_IRRITATION_SARPY
  - FISH_IRFMN
  - GLUCO_RECEPTOR
  - HEPA_IRFMN
  - MNVITRO_VERMEER
  - MNVIVO_IRFMN
  - MOA_EPA
  - MUTA_AMINES
  - MUTA_ISS
  - MUTA_CAESAR
  - MUTA_KNN
  - MUTA_SARPY
  - HEPA_NRF2
  - PERS_SED
  - PERS_SOIL
  - PERS_WAT
  - PGP_NIC
  - HEPA_PPARAUP
  - HEPA_PPARGUP
  - HEPA_PXRUP
  - ANDROGEN_COMPARA
  - RBA_IRFMN
  - READYBIO_IRFMN
  - SKIN_CAESAR
  - SKIN_NCSTOX
  - SKIN_IRFMN
  - SKIN_IRRITATION
  - SKIN_IRRITATION_CORAL
  - SKIN_IRRITATION_SARPY
  - SKIN_SENSITIZATION_CONCERT
  - SKIN_SENSITIZATION_SARPY
  - SLUDGE_COMBASECLASS
  - STERO_OBERON
  - TRALPHA_NRMEA
  - TRBETA_NRMEA
  - TPO_OBERON

vega_pclass:
  - CARC_CAESAR
  - AROM_IRMFN 
  - HEPA_NRF2
  - HEPA_PPARAUP
  - HEPA_PPARGUP
  - HEPA_PXRUP
  - PGP_NIC  
  - SKIN_CAESAR

vega_class_plabel:
  CARC_CAESAR:
    Carcinogen: "P(Carcinogen)"
    NON-Carcinogen: "P(NON-Carcinogen)"

  AROM_IRMFN:
    "Active agonist": "Probability(Active Agonist)"
    "Active antagonist": "Probability(Active Antagonist)"
    Inactive: "Probability(Inactive)"

  HEPA_NRF2:
    Inactive: "Inactivity class Probability"
    Active: "Activity class Probability"

  HEPA_PPARAUP:
    Inactive: "Inactivity class Probability"
    Active: "Activity class Probability"  

  HEPA_PPARGUP:
    Inactive: "Inactivity class Probability"
    Active: "Activity class Probability"

  HEPA_PXRUP:
    Inactive: "Inactivity class Probability"
    Active: "Activity class Probability"  

  PGP_NIC:
    Inhibitor: "Probability for Inhibitor class"
    Substrate: "Probability for Substrate class"
    "Non Active": "Probability for Non Active class"

  SKIN_CAESAR:
    Sensitizer: "O(Active)"
    NON-Sensitizer: "O(Inactive)"

ssbd:
  - Acute_aquatic_toxicity
  - Chronic_aquatic_toxicity
  - Carcinogenicity
  - Mutagenicity
  - Reproductive_toxicity
  - Endocrine_disruption
  - Eye_damage_irritation
  - PBT
  - PMT
  - Skin_corrosion_irritation
  - Skin_sensitization
  - STOT-RE
  - STOT-SE
  - Toxicity
  - P-CHEM

class_folder: "class_lac"

CP_MODELS: "MAPIE_04"
VEGA_CP_OUTPUT: "MAPIE_04\\VEGACP"

enable_archive: False

config:
  "comptox":
    NAME: "EPA CompTox"
    VEGA_REPORTS_INPUT: "DSSTox_Feb_2024\\VEGA\\epacomptox"
    SMILES_INPUT: "DSSTox_Feb_2024\\epacomptox.txt"
    report_prefix: "report_"
    alpha: 0.1
    calculate_coverage_metrics: False
    id: "DTXSID"
    merge_by_inchikey: False 

input_key: "comptox"

VEGA_DATA: "point-to-vega-data-files"